.formContainer {
width: 330px;
}



@media (max-width:912px) and (min-width:500px){
  .formContainer {
   margin-top:5rem !important;
  }
}



@media(max-width:500px) and (min-width:375px){
  .formContainer {
   margin-top:6rem !important;
  }
}

@media(max-width:375px){
  .formContainer {
   margin-top:5.4rem !important;
  }
}

.userImage{
  width: 10rem;
}

@media (min-width:1025px){
  .userImage{
    margin-top: 1rem;
  }
}


.inputText, .inputPassword,.buttonLogin,.formText{
min-width: 230px;
height: 34px;
margin-top: 3.5%;
}
/*formikErrorStyle*/
.errorIcon{
margin-left: -30px;
margin-top: 13px;
color: #ff6752;
font-size: 25px;

}

/**/
.buttonLogin{
  background-color: #FF725E;
  min-width: 230px;
}

.button-color1{
  background-color: #FF725E;
}

.button-color2{
  background-color: #fd9696;
}

.isForgetText{
  color: #FF725E;
  font-size: 12px;
  font-weight: bold;


}
.remeberText,.noTickButton{
  font-size: 12px;
  font-weight: bold;
}
.alert-login{
  min-width: 230px;
font-size: small;
background-color: #ffc0b8;
color: rgb(102, 0, 0);
font-weight: 500;
}
/**/


