.formContainer {
  min-width: 330px;
}


@media (max-width:1024px){
  .formContainer {
   margin-top:80px !important;
  }
}

.userImage{
  width: 10rem;
}
.inputText, .inputPassword,.buttonLogin,.formText{
min-width: 230px;
height: 34px;
margin-top: 3.5%;
}
.buttonLogin{
  background-color: #FF725E;
  min-width: 230px;
}

.isForgetText{
  color: #FF725E;
  font-size: 12px;
  font-weight: bold;


}
.remeberText,.noTickButton{
  font-size: 12px;
  font-weight: bold;
}

/**/
