.navbar {
  background-color: #374952;
  height: 4.6em;
}

.nav {
  max-height: 100px;
  background-color: #374952;
}

.logo {
  position: absolute;
}

@media (min-width: 768px) {
  .logo {
    width: 9.5rem;
    margin-top: -1.7rem;
    margin-left: 1rem;
  }
}

@media (max-width: 767px) and (min-width: 281px) {
  .logo {
    width: 7.5rem;
    margin-top: -1.2rem;
    margin-left: 1.5rem;
  }
}

@media (max-width: 280px) {
  .logo {
    width: 6rem;
    margin-top: -0.4rem;
  }
}

.linkHome {
  color: #d7d7d7 !important;
  font-size: 1rem !important;
}

@media (min-width: 992px) {
  .linkHome {
    margin-left: 20rem;
  }
}

.linkLogin {
  color: #d7d7d7 !important;
  font-size: 1rem !important;
}


/**/
.navbar-toggler {
  background-color: #9da8ad !important; /* Toggle arka plan rengini beyaz yapar */
  border: 3px solid #9da8ad !important; /* İsteğe bağlı: Kenarlık rengi */
}

.navbar-toggler-icon {
  background-color: #9da8ad;
}

.loginMessage {
  color: #9DA8AD;
}





@media (min-width:501px){
  .loginMessage {
font-size: 14px !important;
margin-left: 5rem !important;
  }
}



@media (max-width: 500px) and (min-width:300px){
  .loginMessage {
font-size: 11px !important;
margin-left: 5.5rem !important;
  }
}



@media (max-width:300px){
  .loginMessage {
font-size: 10px !important;
margin-left: 5rem !important;
  }
}



.logoutButton {
  background-color: #374952 !important;
  color:#f5f5f5 !important;

}



@media (min-width: 992px) {
  .logoutButton {
position:absolute;
    background-color: #E0E0E0!important;
    right: 5rem;
    color:#000000 !important;
height: 2.2rem !important;
display: flex;
align-items: center;
font-weight: 400 !important;
  }
}

.activeLink{
  color: white !important;;
}