

@media (min-width: 1200px) {
  .homeContainer{
    padding-left: 4rem !important;
  }
}



@media (min-width:1025px){
  .homeContainer{
margin-top: 0.5rem!important;  
}
}
@media (max-width:1024px) and (min-width:913px){
  .homeContainer{
margin-top: 5rem !important;  
}
}

@media (max-width:912px) and (min-width:769px){
  .homeContainer{
margin-top: 5rem !important;  
}
}



@media (max-width:768px) and (min-width:500px){
  .homeContainer{
margin-top: 1rem !important;  
}
}



@media (max-width: 1024px) {
  .textContainer{
    padding-top: 100px !important;
  }
}





.textContainer{
  max-width: 330px;
  padding-top: 15px;
  color: #E8E8E8;
}
.image1{
  max-width: 60%;
  margin-top: -1rem;
}

@media (max-width: 500px) {
  .image1{
    margin-top: 0rem !important;
  }
}


.paragraph1{
  font-weight:400
}

.paragraph2{
  font-weight: 500;
}